
@{
    ViewData["Title"] = "CustomerReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/CustomerReport.js"></script>

<h1>CustomerReport</h1>

<div class="jumbotron">Crytal Report</div>

<div>
    <button class="btn btn-info" id="btnLoadReport">Load Report</button>
</div>
