@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Click on the following link to reset your password:<br />
    <a asp-page="/Account/ResetPassword">Reset Password</a>
</p>
